{% assign education = site.data.data.education %}
{% if education %}
<section class="section education-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Éducations
  </h2>

  {% for education in education %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="degree">{{ education.degree }}</h3>
        <div class="time">{{ education.time }}</div>
      </div><!--//upper-row-->

      <div class="university">{{ education.university }}</div>

    </div><!--//meta-->

    {% if graduation.details %}
    <div class="details">
      {{ graduation.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
