{% assign  intérêts = site.data.data.sidebar. intérêts %}
{% if  intérêts %}
<div class=" intérêts-container container-block">

  <h2 class="container-block-title">
     intérêts
  </h2>

  <ul class="list-unstyled  intérêts-list">
    {% for  intérêt in  intérêts %}

      {% if  intérêts.link %}
      <li><a href="{{  intérêts.link }}">{{  intérêt.item }}</a></li>
      {% else %}
      <li>{{  intérêt.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
